﻿@model DACSQLNS.Models.Training

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingStarTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingStarTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingType.TrainingTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Department != null)
            {
                @Html.DisplayFor(model => model.Department.DepartmentName)
            }
            else
            {
                <span>No department assigned</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
