﻿@model IEnumerable<DACSQLNS.Models.Training>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<p>
    <a asp-action="RecycleBin">Recycle Bin</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStarTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingStarTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingType.TrainingTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Display" asp-route-id="@item.Id">Details</a> |
                    <a href="#" class="delete-link" data-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <script>
        $(function () {
            $(".delete-link").click(function () {
                if (confirm("Are you sure you want to delete this item?")) {
                    var id = $(this).data("id");
                    var row = $(this).closest("tr"); // Lấy hàng chứa đối tượng cần xóa
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Training/DeleteConfirmed",
                        data: { id: id },
                        success: function () {
                            // Xóa hàng chứa đối tượng ngay lập tức
                            row.remove();
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
