﻿@model IEnumerable<DACSQLNS.Models.Training>


@{
    ViewData["Title"] = "RecycleBin";
}

<h1>Recycle Bin</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStarTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingStarTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingType.TrainingTypeName)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Display" asp-route-id="@item.Id">Details</a> |
                    <a href="#" class="restore-link" data-id="@item.Id">Restore</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script>
        $(function () {
            // Xử lý sự kiện click cho nút khôi phục
            $(".restore-link").click(function () {
                if (confirm("Are you sure you want to restore this item?")) {
                    var id = $(this).data("id");
                    var row = $(this).closest("tr");
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Training/Restore",
                        data: { id: id },
                        success: function () {
                            row.remove();
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
}