﻿@model DACSQLNS.Models.Training
@using Microsoft.AspNetCore.Mvc.Rendering
@{
	ViewData["Title"] = "Edit Training";
}
<h2>Edit Training</h2>
<form asp-action="Update" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="TrainingName"></label>
		<input asp-for="TrainingName" class="form-control" />
		<span asp-validation-for="TrainingName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="TrainingContent"></label>
		<input asp-for="TrainingContent" class="form-control" />
		<span asp-validation-for="TrainingContent" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="TrainingStarTime"></label>
		<input asp-for="TrainingStarTime" class="form-control" />
		<span asp-validation-for="TrainingStarTime" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="TrainingEndTime"></label>
		<input asp-for="TrainingEndTime" class="form-control" />
		<span asp-validation-for="TrainingEndTime" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="TrainingTypeId">TrainingType</label>
		<select asp-for="TrainingTypeId" asp-items="@ViewBag.TrainingType"
				class="form-control"></select>
	</div>
	<div class="form-group">
		<label asp-for="DepartmentId">Department</label>
		<select asp-for="DepartmentId" class="form-control" asp-items="@((IEnumerable<SelectListItem>)ViewBag.Department)"></select>
		<span asp-validation-for="DepartmentId" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Update</button>
</form>


<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
