﻿@model List<DACSQLNS.Models.LeaveRequest>

@{
    ViewData["Title"] = "Leave Requests";
}

<h1>Leave Requests Pending Approval</h1>
<div class="alert alert-primary" role="alert">
    There are <strong>@ViewBag.PendingApprovalCount</strong> leave requests pending approval.
</div>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>User</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var leaveRequest = Model[i];
            <tr style="cursor: pointer;" onclick="window.location.href='@Url.Action("Details", "LeaveRequestsManager", new { id = leaveRequest.Id })'">
                <td>@(i + 1)</td>
                <td>@(leaveRequest.ApplicationUser?.FullName)</td>
                <td>@(leaveRequest.StartTime.ToShortDateString())</td>
                <td>@(leaveRequest.EndTime.ToShortDateString())</td>
                <td>@(leaveRequest.Type)</td>
                <td>
                    <a href="@Url.Action("Approve", "LeaveRequestsManager", new { id = leaveRequest.Id })" class="btn btn-success">Approve</a>
                    <a href="@Url.Action("Reject", "LeaveRequestsManager", new { id = leaveRequest.Id })" class="btn btn-danger">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>
