﻿@model DACSQLNS.Models.TrainingType
@{
    ViewData["Title"] = "Add TrainingType";
}

<h2>Add TrainingType</h2>

<form id="addForm" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="TrainingTypeName"></label>
        <input id="trainingTypeName" asp-for="TrainingTypeName" class="form-control" />
        <span asp-validation-for="TrainingTypeName" class="text-danger"></span>
    </div>

    <!-- Nút "Add" chỉ hoạt động khi có dữ liệu trong trường TrainingTypeName -->
    <button type="submit" class="btn btn-primary" id="addBtn" @* disabled *@>Add</button>
</form>
@* 
@section Scripts {
    <script>
        $(function () {
            // Kiểm tra và kích hoạt nút "Add" khi có dữ liệu trong trường TrainingTypeName
            $("#trainingTypeName").on("input", function () {
                $("#addBtn").prop("disabled", !$(this).val().trim());
            });
        });
    </script>
} *@
