﻿@model IEnumerable<DACSQLNS.Models.TrainingType>

<h2>Recycle Bin</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trainingType in Model)
        {
            <tr>
                <td>@trainingType.Id</td>
                <td>@trainingType.TrainingTypeName</td>
                <td>

                    <a asp-action="Display" asp-route-id="@trainingType.Id">View</a> |
                    <a asp-action="Update" asp-route-id="@trainingType.Id">Edit</a> |
                    <a href="#" class="restore-link" data-id="@trainingType.Id">Restore</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script>
        $(function () {
            // Xử lý sự kiện click cho nút khôi phục
            $(".restore-link").click(function () {
                if (confirm("Are you sure you want to restore this item?")) {
                    var id = $(this).data("id");
                    var row = $(this).closest("tr");
                    $.ajax({
                        type: "POST",
                        url: "/Admin/TrainingType/Restore",
                        data: { id: id },
                        success: function () {
                            row.remove();
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
}