﻿@model DACSQLNS.Models.TrainingType
@using Microsoft.AspNetCore.Mvc.Rendering
@{
	ViewData["Title"] = "Edit TrainingType";
}
<h2>Edit TrainingType</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="TrainingTypeName"></label>
		<input asp-for="TrainingTypeName" class="form-control" />
		<span asp-validation-for="TrainingTypeName" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
</form>