﻿@model DACSQLNS.Models.Department
@using Microsoft.AspNetCore.Mvc.Rendering
@{
	ViewData["Title"] = "Add Department";
}
<h2>Add Department</h2>

<form asp-action="Add" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="DepartmentName"></label>
		<input asp-for="DepartmentName" class="form-control" />
		<span asp-validation-for="DepartmentName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="DepartmentPhone"></label>
		<input asp-for="DepartmentPhone" class="form-control" />
		<span asp-validation-for="DepartmentPhone" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Add</button>
</form>
<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
