﻿@model DACSQLNS.Models.Department
<h2>@Model.DepartmentName</h2>
<div>
	<h3>Id: @Model.Id</h3>
	<p>@Model.DepartmentName</p>
	<p>@Model.DepartmentPhone</p>
</div>
<a asp-action="Index">Back to List</a>