﻿@model IEnumerable<DACSQLNS.Models.Department>

<h2>Department</h2>
<p>
	<a asp-action="Add">Create New</a>
</p>
<p>
	<a asp-action="RecycleBin">Recycle Bin</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Phone Number</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var department in Model)
		{
			<tr>
				<td>@department.Id</td>
				<td>@department.DepartmentName</td>
				<td>@department.DepartmentPhone</td>
				<td>

					<a asp-action="Display" asp-route-id="@department.Id">View</a> |
					<a asp-action="Update" asp-route-id="@department.Id">Edit</a> |
					<a href="#" class="delete-link" data-id="@department.Id">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>
@section Scripts {
	<script>
		$(function () {
			$(".delete-link").click(function () {
				if (confirm("Are you sure you want to delete this item?")) {
					var id = $(this).data("id");
					var row = $(this).closest("tr"); // Lấy hàng chứa đối tượng cần xóa
					$.ajax({
						type: "POST",
						url: "/Admin/Deparment/DeleteConfirmed",
						data: { id: id },
						success: function () {
							// Xóa hàng chứa đối tượng ngay lập tức
							row.remove();
						},
						error: function (xhr, status, error) {
							console.error(xhr.responseText);
						}
					});
				}
			});
		});
	</script>
}