﻿@model IEnumerable<DACSQLNS.Models.Department>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycle Bin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Recycle Bin</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model)
                {
                    <tr>
                        <td>@department.Id</td>
                        <td>@department.DepartmentName</td>
                        <td>@department.DepartmentPhone</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Display" asp-route-id="@department.Id" class="btn btn-primary">View</a>
                                <a asp-action="Update" asp-route-id="@department.Id" class="btn btn-secondary">Edit</a>
                                <button type="button" class="btn btn-warning restore-link" data-id="@department.Id">Restore</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".restore-link").click(function () {
                if (confirm("Are you sure you want to restore this item?")) {
                    var id = $(this).data("id");
                    var row = $(this).closest("tr");
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Deparment/Restore",
                        data: { id: id },
                        success: function () {
                            row.remove();
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
