﻿@model DACSQLNS.Models.Department
@using Microsoft.AspNetCore.Mvc.Rendering
@{
	ViewData["Title"] = "Edit DepartMent";
}
<h2>Edit Department</h2>
<form asp-action="Update" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="DepartmentName"></label>
		<input asp-for="DepartmentName" class="form-control" />
		<span asp-validation-for="DepartmentName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="DepartmentPhone"></label>
		<input asp-for="DepartmentPhone" class="form-control" />
		<span asp-validation-for="DepartmentPhone" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
</form>


<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
