﻿@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web bán thức ăn </title>
    <link href="~/css/index.css" rel="stylesheet" />

  
</head>

<body>
    <div id="wrapper">
        <div id="banner">
            <div class="box-left">
                <h2>
                    <span>Human resource</span>
                    <br>
                    <span>Management </span>
                </h2>
                <p style="color: white; text-shadow: 1px 1px 2px black;">
                    We will help you save this valuable time by providing effective tools and solutions for human resources management. Let us help you manage human resources more easily and effectively
                </p>
                <button> Đăng nhập </button>
            </div>
            <div class="box-right">
                <img src="~/lib/images/rounded-in-photoretrica (2).png" alt="">
                <img src="~/lib/images/rounded-in-photoretrica (3).png" alt="">
                <img src="~/lib/images/rounded-in-photoretrica (4).png" alt="">
            </div>
        </div>

        <div id="wp-products">
            <h2>FUNCTION</h2>
            <ul id="list-products">

                <div class="item">
                    <img src="~/lib/images/team-management (1).png" alt="">
                    <div class="desc">Highly optimized</div>
                    <div class="price">Manage</div>
                </div>

                <div class="item">
                    <img src="~/lib/images/add (1) (1).png" alt="">
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">Register</div>
                </div>

                <div class="item">
                    <img src="~/lib/images/partnership (1).png" alt="">
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">contract</div>
                </div>
                <div class="item">
                    <img src="~/lib/images/presentation (1).png" alt="">
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">Training</div>
                </div>
                <div class="item">
                    <img src="~/lib/images/networking (1).png" alt="">
             
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">Department</div>
                </div>
                <div class="item">
                    <img src="~/lib/images/pension (1).png" alt="">
                   
                    <div class="desc">Mô Tả Ngắn Cho Sản Phẩm</div>
                    <div class="price">Pension</div>
                </div>
            </ul>
        </div>
        <div id="saleoff">
            <div class="box-left">
                <h1>
                    <span>TIME IS.............. </span>
                    <span>GOLD</span>
                </h1>
            </div>
            <div class="box-right"> </div>
        </div>
        <div id="comment">


            <h2>NHẬN XÉT CỦA KHÁCH HÀNG</h2>
            <div id="comment-body">
                <div class="prev">
                    <a href="#">
                        <img src="~/lib/images/prev.png" alt="">
                    </a>
                </div>
                <ul id="list-comment">
                    <li class="item">
                        <div class="avatar">
                            <img src="assets/avatar_1.png" alt="">
                        </div>
                        <div class="stars">
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Nguyễn Đình Vũ</div>
                        <div class="text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="avatar">
                            <img src="assets/avatar_1.png" alt="">
                        </div>
                        <div class="stars">
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets.star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Trần Ngọc Sơn</div>
                        <div class="text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="avatar">
                            <img src="assets/avatar_1.png" alt="">
                        </div>
                        <div class="stars">
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="assets/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Nguyễn Trần Vi</div>
                        <div class="text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="next">
                    <a href="#">
                        <img src="~/lib/images/next.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="box">
                <div class="logo">
                    <img src="assets/logo.png" alt="">
                </div>
                <p>Cung cấp sản phẩm với chất lượng an toàn cho quý khách</p>
            </div>
            <div class="box">
                <h3>NỘI DUNG</h3>
                <ul class="quick-menu">
                    <div class="item">
                        <a href="">Trang chủ</a>
                    </div>
                    <div class="item">
                        <a href="">Sản phẩm</a>
                    </div>
                    <div class="item">
                        <a href="">Blog</a>
                    </div>
                    <div class="item">
                        <a href="">Liên hệ</a>
                    </div>
                </ul>
            </div>
            <div class="box">
                <h3>LIÊN HỆ</h3>
                <form action="">
                    <input type="text" placeholder="Địa chỉ email">
                    <button>Nhận tin</button>
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/script.js"></script>
</body>
</html>
