﻿@model DACSQLNS.Models.Training

@{
    ViewData["Title"] = "Chi tiết khóa đào tạo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Thông tin khóa đào tạo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingContent)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingStarTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingStarTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingEndTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingType.TrainingTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingType.TrainingTypeName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Action buttons">
    <form asp-controller="UserTraining" asp-action="Index" method="post">
        <input type="hidden" name="id" value="@@Model.Id" />
        <button type="submit" class="btn btn-info">Back</button>
    </form>
    <form asp-controller="UserTraining" asp-action="Register" method="post">
        <input type="hidden" name="trainingId" value="@Model.Id" />
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
