﻿@model List<DACSQLNS.Models.Training>

<form asp-controller="UserTraining" asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchInput">Tìm kiếm:</label>
        <input type="text" class="form-control" id="searchInput" name="searchString" placeholder="Nhập từ khóa tìm kiếm">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Training Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr onclick="window.location.href='@Url.Action("Display", "UserTraining", new { id = Model.ElementAt(i).Id })'" style="cursor: pointer;">
                    <td>@(i + 1)</td>
                    <td>@Model[i].TrainingName</td>
                    <td>@Model[i].TrainingStarTime</td>
                    <td>@Model[i].TrainingEndTime</td>
                    <td>
                            <form asp-controller="UserTraining" asp-action="Register" method="post">
                                <input type="hidden" name="trainingId" value="@Model[i].Id" />
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có khóa đào tạo nào được tìm thấy.</p>
}
