﻿@model List<UserTraining>

<h1>Tình trạng đăng ký</h1>

@if (Model.Count == 0)
{
    <p>Không có khóa đào tạo nào được đăng ký.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên khóa đào tạo</th>
                <th>Ngày đăng ký</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model[i].Training.TrainingName</td>
                    <td>@Model[i].CreatedAt</td>
                    <td>@Model[i].Status</td>
                </tr>
            }
        </tbody>
    </table>
}
