﻿@model List<UserTraining>

<h1>Kết quả khóa đào tạo</h1>

@if (Model.Count == 0)
{
    <p>Không có kết quả khóa đào tạo.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên khóa đào tạo</th>
                <th>Ngày bắt đầu</th>
                <th>Đánh giá</th>
                <th>Ngày đánh giá</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var userTraining = Model[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@userTraining.Training.TrainingName</td>
                    <td>@userTraining.Training.TrainingStarTime</td>
                    <td>
                        @if (userTraining.Completed.HasValue && userTraining.Completed.Value)
                        {
                            <span class="text-success">Đã hoàn thành</span>
                        }
                        else
                        {
                            <span class="text-danger">Chưa hoàn thành</span>
                        }
                    </td>
                    <td>
                        @if (userTraining.CompletedAt.HasValue)// <!-- Kiểm tra CompletedAt có giá trị hay không -->
                        {
                            <span>@userTraining.CompletedAt.Value.ToString("dd/MM/yyyy")</span> <!-- Hiển thị ngày đánh giá -->
                        }
                        else
                        {
                            <span>Chưa đánh giá</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
