﻿@page
@model DACSQLNS.Areas.Identity.Pages.Account.LoginModel
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center  ">
        <div class="card col-5 text-white shadow" style="border-radius: 20px;">
            <div class="m-3 text-center p-4">
                <section>
                    <form id="account" method="post">
                        <div class="logo">
                            <img src="~/lib/images/login.png" alt="Logo" class="form-logo">
                        </div>

                        <h2>@ViewData["Title"]</h2>
                        <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3 h-50">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">Email Address</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rememberMeCheck">
                            <label class="form-check-label" for="rememberMeCheck">
                                Remember me
                            </label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button id="login-submit" type="submit" class="btn external-login-btn">
                                @* <img src="~/lib/images/user.png" alt="Login logo" class="login-logo" /> *@ Login
                            </button>
                        </div>
                        <div>
                        </div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                        </p>
                    </form>
                </section>
                <section>
                    <h3 class="external-login-title"> Or Login with </h3>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="d-flex justify-content-around">
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn external-login-btn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    @if (provider.Name == "Google")
                                    {
                                        <img src="~/css/imagess/google.png" alt="Google logo" class="login-logo" />
                                        <span>@provider.DisplayName</span>

                                    }
                                    else if (provider.Name == "Facebook")
                                    {
                                        <img src="~/css/imagess/facebook (1).png" alt="Facebook logo" class="login-logo" />
                                        <span>@provider.DisplayName</span>

                                    }
                               
                                </button>
                            }
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>

<style>
    body {
        background: url('https://i.upanh.org/2024/05/11/wallpaperflare.com_wallpaper_3-PW29BrQiZ-transformed401d18876f472405.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
    }

    .container-fluid {
/*         height: 100vh; */
        align-items: center;
        justify-content: center;
    }

    .card {
        position: relative;
        background-color: hsla(0, 0%, 10%, .1);
        border: 1px solid #fff; /* Đặt màu viền trắng */
        margin-inline: 1.5rem;
        padding: 2.5rem 1.5rem;
        border-radius: 1rem;
        backdrop-filter: blur(8px);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Hiệu ứng phát sáng */
    }

    h2 {
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 30px;
        color: #fff;
    }

    .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 20px;
        box-shadow: none;
        color: #fff;
        padding: 10px;
    }

        .form-control:focus {
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            border-radius: 20px;
            box-shadow: none;
            color: #fff;
        }

        .form-control::placeholder {
            color: #fff;
        }

    .form-label {
        color: #000; /* Thay đổi màu chữ của nhãn thành màu đen */
        font-weight: normal;
    }

    .btn-primary {
        background: #fff;
        color: #007bff;
        border-radius: 20px;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 10px 10px;
        transition: all 0.5s;
    }

        .btn-primary:hover {
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            color: #0056b3;
        }

    .external-login-title {
        color: #fff; /* Màu chữ của tiêu đề */
        font-size: 18px; /* Kích thước chữ của tiêu đề */
        margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
    }

    .external-login-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        color: #007bff;
        border-radius: 20px;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 10px 20px;
        transition: all 0.5s;
        width: 45%; /* Giảm chiều rộng của nút */
        margin: 5px; /* Thêm khoảng cách giữa các nút */
    }

        .external-login-btn:hover {
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }

    .login-logo {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        object-fit: contain; /* Đảm bảo logo sẽ vừa vặn trong nút */
    }

    .form-logo {
        width: 100px; /* Điều chỉnh kích thước logo */
        height: auto;
        object-fit: contain;
        margin-bottom: 20px; /* Thêm khoảng cách dưới logo nếu cần */
    }
</style>

<script>
    window.addEventListener('load', function () {
        var header = document.getElementById('main-layout');
        if (header) {
            header.style.display = 'none';
        }
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}