﻿@model List<DACSQLNS.Models.UserTraining>

<h1>Danh sách cần  đánh giá</h1>
<div>
    <a asp-action="Index" asp-controller="UserTrainingManager">Quay về</a>
</div>
@if (Model == null || !Model.Any())
{
    <p>Không có đăng ký nào.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và Tên</th>
                <th>Email</th>
                <th>Đánh giá</th>
                <th>Ngày đánh giá</th>
                <th>Hành động</th>
               
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var userTraining = Model[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@(userTraining.User?.FullName)</td>
                    <td>@(userTraining.User?.Email)</td>
                    <td>@(userTraining.Completed.HasValue && userTraining.Completed.Value ? "Đã hoàn thành" : "Chưa hoàn thành")</td>
                    <td>@(userTraining.CompletedAt.HasValue ? userTraining.CompletedAt.Value.ToShortDateString() : "")</td>
                    <td>
                        <form asp-controller="UserTrainingManager" asp-action="CompleteEvaluation" method="post">
                            <input type="hidden" name="userId" value="@userTraining.UserId" />
                            <input type="hidden" name="trainingId" value="@userTraining.TrainingId" />
                            <button type="submit" class="btn btn-success">Hoàn thành</button>
                        </form>
                        <form asp-controller="UserTrainingManager" asp-action="IncompleteEvaluation" method="post">
                            <input type="hidden" name="userId" value="@userTraining.UserId" />
                            <input type="hidden" name="trainingId" value="@userTraining.TrainingId" />
                            <button type="submit" class="btn btn-danger">Chưa hoàn thành</button>
                        </form>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
