﻿@model List<DACSQLNS.Models.UserTraining>

<h1>Danh sách đánh giá chưa hoàn thành</h1>
<div class="row">
    <div class="col-md-12">
        <p>Tổng số lượng người: @Model.Count</p>
    </div>
</div>
@if (Model == null || !Model.Any())
{
    <p>Không có dữ liệu.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và Tên</th>
                <th>Email</th>
                <th>Tên khóa đào tạo</th>
                <th>Ngày đánh giá</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var userTraining = Model[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@userTraining.User.FullName</td>
                    <td>@userTraining.User.Email</td>
                    <td>@userTraining.Training.TrainingName</td>
                    <td>@userTraining.CompletedAt.Value.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}
