﻿@model List<DACSQLNS.Models.Training>

<h1>Danh sách khóa đào tạo </h1>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên khóa đào tạo</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Số lượng đăng ký</th>
            <th>Số lượng đánh giá</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var training = Model[i];
            var currentTime = DateTime.Now;
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].TrainingName</td>
                <td>@Model[i].TrainingStarTime</td>
                <td>@Model[i].TrainingEndTime</td>
                <td>@Model[i].UserTraining.Count(ut => ut.Status == DACSQLNS.Models.UserTraining.TrainingStatus.ChuaXuLy)</td>
                <td>@Model[i].UserTraining.Count(ut => ut.Status == DACSQLNS.Models.UserTraining.TrainingStatus.DaPheDuyet &&ut.CompletedAt == null)</td>
                <td>
                    <div class="btn-group">
                        @if (currentTime < training.TrainingStarTime)
                        {
                            <form asp-controller="UserTrainingManager" asp-action="RegistrationList" method="post">
                                <input type="hidden" name="id" value="@training.Id" />
                                <button type="submit" class="btn btn-primary">Xem đăng ký</button>
                            </form>
                        }
                        @if (currentTime >= training.TrainingEndTime)
                        {
                            <form asp-controller="UserTrainingManager" asp-action="Evaluate" method="post">
                                <input type="hidden" name="id" value="@training.Id" />
                                <button type="submit" class="btn btn-primary">Đánh giá</button>
                            </form>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
