﻿@model List<DACSQLNS.Models.Training>

<h1>Danh sách khóa đào tạo đã xử lý</h1>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên khóa đào tạo</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Số lượng đăng ký</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].TrainingName</td>
                <td>@Model[i].TrainingStarTime</td>
                <td>@Model[i].TrainingEndTime</td>
                <td>@Model[i].UserTraining.Count</td>
                <td>
                    <a asp-area="Admin" asp-controller="UserTrainingManager" asp-action="ApprovedList" asp-route-id="@Model[i].Id">Danh sách duyệt</a>

                    <a asp-area="Admin" asp-controller="UserTrainingManager" asp-action="RejectedList" asp-route-id="@Model[i].Id">Danh sách từ chối</a>

                </td>
            </tr>
        }
    </tbody>
</table>
