﻿@model List<DACSQLNS.Models.UserTraining>

<h1>Danh sách người đăng ký khóa đào tạo</h1>
<div>
    <a asp-action="Index" asp-controller="UserTrainingManager">Quay về</a>
</div>
@if (Model.Count == 0)
{
    <p>Không có đăng ký khóa đào tạo nào.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và Tên</th>
                <th>Email</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var userTraining = Model[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@userTraining.User.FullName</td>
                    <td>@userTraining.User.Email</td>
                    <td>@userTraining.Status</td>
                    <td>
                        <form id="approveForm_@i" asp-action="Approve" asp-controller="UserTrainingManager">
                            <button type="submit" class="btn btn-success"
                                    formaction="@Url.Action("Approve", "UserTrainingManager", new { userId = userTraining.UserId, trainingId = userTraining.TrainingId })">
                                Duyệt
                            </button>
                        </form>
                        <form id="rejectForm_@i" asp-action="Reject" asp-controller="UserTrainingManager">
                            <button type="submit" class="btn btn-danger"
                                    formaction="@Url.Action("Reject", "UserTrainingManager", new { userId = userTraining.UserId, trainingId = userTraining.TrainingId })">
                                Từ chối
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
