﻿@model List<DACSQLNS.Models.UserTraining>

<h1>Danh sách đăng ký bị từ chối cho khóa đào tạo @ViewBag.TrainingName</h1>
<div class="row">
    <div class="col-md-12 mb-3">
        <a asp-action="IndexStatus" asp-controller="UserTrainingManager" class="btn btn-primary">Quay lại</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Tổng số lượng người: @Model.Count</p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Họ và Tên</th>
            <th>Email</th>
          
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var userTraining = Model[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@userTraining.User.FullName</td>
                <td>@userTraining.User.Email</td>
                
            </tr>
        }
    </tbody>
</table>
