/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container-fluid {
    padding: 20px;
}

.sb-nav-fixed .sb-topnav {
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1040;
}

.sb-topnav {
    background-color: #343a40;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

    .sb-topnav .navbar-brand {
        margin-right: 1rem;
    }

    .sb-topnav .input-group {
        max-width: 300px;
        margin-left: auto;
    }

    .sb-topnav .btn-link {
        color: rgba(255, 255, 255, 0.5);
    }

        .sb-topnav .btn-link:hover {
            color: rgba(255, 255, 255, 0.75);
        }

    .sb-topnav .dropdown-menu {
        right: 0;
        left: auto;
    }

.sb-sidenav-dark {
    background-color: #343a40;
    color: white;
}

.sb-sidenav .nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sb-sidenav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
}

    .sb-sidenav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
        background-color: #495057;
    }

    .sb-sidenav .nav-link .sb-nav-link-icon {
        margin-right: 1rem;
        text-align: center;
        width: 1.5rem;
    }

.sb-sidenav .sb-sidenav-collapse-arrow {
    margin-left: auto;
}

.sb-sidenav .collapse .sb-sidenav-menu-nested {
    padding-left: 1rem;
}

.sb-sidenav .sb-sidenav-menu-nested .nav-link {
    padding-left: 2rem;
}

#layoutSidenav {
    display: flex;
    height: 100vh;
}

#layoutSidenav_nav {
    width: 250px;
    flex-shrink: 0;
}

#layoutSidenav_content {
    flex-grow: 1;
    background-color: #f8f9fa;
    padding-top: 40px; /* Adjust based on the height of the topnav */
}
