﻿@model DACSQLNS.Models.RewardDiscipline

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RewardDiscipline</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardDisciplineDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardDisciplineDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardDisciplineDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardDisciplineDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
