﻿@model DACSQLNS.Models.LeaveRequest

<h2>Create Leave Request</h2>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group" hidden>
        <label asp-for="UserId">User Id:</label>
        <input asp-for="UserId" class="form-control" readonly />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartTime">Start Time:</label>
        <input asp-for="StartTime" class="form-control" type="date" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndTime">End Time:</label>
        <input asp-for="EndTime" class="form-control" type="date" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Reason">Reason:</label>
        <input asp-for="Reason" class="form-control" />
        <span asp-validation-for="Reason" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type">Type:</label>
        <select asp-for="Type" class="form-control">
            <option value="SickLeave">Sick Leave</option>
            <option value="AnnualLeave">Annual Leave</option>
            <option value="MaternityLeave">Maternity Leave</option>
            <option value="UnpaidLeave">Unpaid Leave</option>
            <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">Evidence File:</label>
        <input type="file" name="evidenceFile" class="form-control-file" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <a href="#" id="evidenceLink" style="display:none;" onclick="showEvidence()">View Evidence</a>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Modal to display evidence image -->
<div id="evidenceModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Evidence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="evidenceImage" src="#" alt="Evidence" style="max-width:100%; height:auto;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function (event) {
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#evidenceLink').show();
                    $('#evidenceImage').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            } else {
                $('#evidenceLink').hide();
            }
        });

        function showEvidence() {
            $('#evidenceModal').modal('show');
        }
    </script>
}
