﻿@model DACSQLNS.Models.LeaveRequest

@{
    ViewData["Title"] = "Delete Leave Request";
}

<h1>Delete Leave Request</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Leave Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Start Time</dt>
        <dd class="col-sm-10">@Model.StartTime</dd>

        <dt class="col-sm-2">End Time</dt>
        <dd class="col-sm-10">@Model.EndTime</dd>

        <dt class="col-sm-2">Reason</dt>
        <dd class="col-sm-10">@Model.Reason</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@Model.Type</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        <dt class="col-sm-2">Created Date</dt>
        <dd class="col-sm-10">@Model.CreatedDate</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
