﻿@model DACSQLNS.Models.LeaveRequest

<h2>Leave Request Details</h2>

<div>
    <h4>Leave Request Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Start Time:</dt>
        <dd class="col-sm-10">@Model.StartTime</dd>

        <dt class="col-sm-2">End Time:</dt>
        <dd class="col-sm-10">@Model.EndTime</dd>

        <dt class="col-sm-2">Reason:</dt>
        <dd class="col-sm-10">@Model.Reason</dd>

        <dt class="col-sm-2">Type:</dt>
        <dd class="col-sm-10">@Model.Type</dd>

        <dt class="col-sm-2">Status:</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        <dt class="col-sm-2">Created Date:</dt>
        <dd class="col-sm-10">@Model.CreatedDate</dd>

        <dt class="col-sm-2">Updated Date:</dt>
        <dd class="col-sm-10">@Model.UpdatedDate</dd>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <dt class="col-sm-2">Evidence:</dt>
            <dd class="col-sm-10">
                <a href="#" id="evidenceLink" onclick="showEvidence()">View Evidence</a>
            </dd>
        }
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Modal to display evidence image -->
<div id="evidenceModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Evidence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="evidenceImage" src="@Model.ImageUrl" alt="Evidence" style="max-width:100%; height:auto;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function showEvidence() {
            $('#evidenceModal').modal('show');
        }
    </script>
}