﻿@model List<DACSQLNS.Models.LeaveRequest>

@{
    int selectedMonth = ViewBag.SelectedMonth;
    int selectedYear = ViewBag.SelectedYear;
}

<h2>Leave Request History</h2>

<form method="get" asp-action="History">
    <div class="form-group">
        <label for="month">Month:</label>
        <select id="month" name="month" class="form-control">
            @for (int m = 1; m <= 12; m++)
            {
                <option value="@m" selected="@(m == selectedMonth)">
                    @m
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="year">Year:</label>
        <select id="year" name="year" class="form-control">
            @for (int y = DateTime.Now.Year; y >= DateTime.Now.Year - 10; y--)
            {
                <option value="@y" selected="@(y == selectedYear)">
                    @y
                </option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<p>Total Days Off (Approved Requests): @ViewBag.TotalDaysOff</p>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Reason</th>
            <th>Type</th>
            <th>Status</th>
            <th>Days Off</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr onclick="window.location.href='@Url.Action("Details", "LeaveRequests", new { id = Model[i].Id })'" style="cursor: pointer;">
                <td>@(i + 1)</td>
                <td>@Model[i].StartTime.ToString("dd-MM-yyyy")</td>
                <td>@Model[i].EndTime.ToString("dd-MM-yyyy")</td>
                <td>@Model[i].Reason</td>
                <td>@Model[i].Type</td>
                <td>@Model[i].Status</td>
                <td>@Model[i].DaysOff</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
