﻿@model List<DACSQLNS.Models.LeaveRequest>

<h2>Leave Requests in Processing</h2>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Reason</th>
            <th>Type</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr onclick="window.location.href='@Url.Action("Details", "LeaveRequests", new { id = Model[i].Id })'" style="cursor: pointer;">
                <td>@(i + 1)</td>
                <td>@Model[i].StartTime.ToString("dd-MM-yyyy ")</td>
                <td>@Model[i].EndTime.ToString("dd-MM-yyyy")</td>
                <td>@Model[i].Reason</td>
                <td>@Model[i].Type</td>
                <td>@Model[i].Status</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
