﻿@model ApplicationUser

<h2 class="text-center mb-4">Edit User</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="container">
        <div class="text-center mb-4">

            <img src="~/lib/images/add.png" alt="Logo" style="max-width: 200px; height: auto;">
        </div>
        <div class="form-group">
            <label asp-for="UserName">Username</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FullName">Full Name</label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        @if (!User.IsInRole("Employee"))
        {
            <div class="form-group">
                <label for="role">Role</label>
                <select id="role" name="roleName" class="form-control">
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@role.Value">@role.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="department">Department</label>
                <select id="department" name="DepartmentId" class="form-control">
                    <option value="">-- Select Department --</option>
                    @foreach (var department in ViewBag.Department)
                    {
                        <option value="@department.Value">@department.Text</option>
                    }
                </select>
            </div>
        }

        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f7f6;
        margin-top: 40px;
    }

    .container {
        width: 50%;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    input[type="text"],
    input[type="email"],
    select {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>
