﻿@model IEnumerable<DACSQLNS.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Người Dùng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        .user-list {
            margin-top: 20px;
        }

        .card {
            border: 2px solid #ddd;
            border-radius: 10px;
            transition: border-color 0.3s ease;
        }

            .card:hover {
                border-color: rgba(0, 0, 0, 0.1);
            }

        .btn {
            padding: 0.375rem 0.75rem;
            border: none; /* Loại bỏ viền */
            border-radius: 0.25rem;
            color: black;
            background-image: linear-gradient(to right, #18A5A7, #B6C0C5);
            transition: background-color 0.3s, transform 0.2s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

            .btn:hover {
                background-color: #B6C0C5;
                color: white;
                transform: translateY(-2px);
            }

        .card-count {
            background-color: #007bff;
            color: white;
            border-radius: 10px;
            padding: 10px;
        }


        .card-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

            .card-list .card {
                width: calc(33.33% - 10px); /* 10px là margin giữa các card */
                margin-bottom: 20px;
            }

        .action-buttons .btn {
            width: calc(33.33% - 10px); /* 10px là margin giữa các nút */
        }

        .custom-height {
            height: 93px; /* Ví dụ: đặt chiều cao là 200px */
        }

        /* Áp dụng class mới cho nút C và D */
        .fill1, .fill2, .fill3, .fill4 {
            height: 100px; /* Đặt chiều cao cố định */
            width: auto; /* Tự động tính toán chiều rộng dựa trên tỷ lệ khung hình gốc của ảnh */
            width: 193px; /* Đặt chiều rộng tối đa */
            padding: 0;
            border: 2px solid #ddd; /* Thêm viền với độ dày 2px và màu xám nhạt */
            border-radius: 10px; /* Bo tròn các góc */
            box-sizing: border-box; /* Đảm bảo kích thước tính toán bao gồm cả padding và border */
            overflow: hidden; /* Ẩn phần nằm ngoài khung */
            position: relative; /* Để căn chỉnh ảnh */
        }

            .fill1 img, .fill2 img, .fill3 img, .fill4 img {
                width: auto; /* Tự động tính toán chiều rộng của ảnh */
                height: 90%; /* Chiều cao tối đa là 100% của khung */
                object-fit: contain; /* Ảnh sẽ được thu nhỏ hoặc phóng to sao cho nó vẫn fit trong khung mà không bị giãn ra */
                position: absolute; /* Để căn giữa ảnh */
                top: 50%; /* Đặt top ở giữa */
                left: 50%; /* Đặt left ở giữa */
                transform: translate(-50%, -50%); /* Dịch chuyển ảnh điều chỉnh để căn giữa */
            }

    </style>

</head>
<body>
    <div class="container">
        <div class="user-list">
            <div class="card mb-4">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Danh Sách Người Dùng</h4>

                </div>

            </div>


            <div class="row mb-4">
                @if (!User.IsInRole("Employee"))
                {
                    <!-- Thêm Người Dùng -->
                    <div class="col-xl-3 col-sm-6 col-12">
                        <a class="card board1 fill1" asp-area="Admin" asp-controller="Owner" asp-action="Add">
                            <div class="card-body">
                                <div class="card_widget_header">
                                </div>
                                <div class="card_widget_img">
                                    <img src="~/lib/images/add-user.png" alt="card-img" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Thùng Rác -->
                    <div class="col-xl-3 col-sm-6 col-12">
                        <a class="card board1 fill2" asp-area="Admin" asp-controller="Owner" asp-action="RecycleBin">
                            <div class="card-body">
                                <div class="card_widget_header">
                                </div>
                                <div class="card_widget_img">
                                    <img src="~/lib/images/delete.png " alt="card-img" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Danh sách -->
                    <div class="col-xl-3 col-sm-6 col-12">
                        <button class="card board1 fill3 switch-list-view" data-view="card">
                            <div class="card-body">
                                <div class="card_widget_header">
                                </div>
                                <div class="card_widget_img">
                                    <img src="~/lib/images/list.png " alt="card-img" />
                                </div>
                            </div>
                        </button>
                    </div>
                    <!-- Card -->
                    <div class="col-xl-3 col-sm-6 col-12">
                        <button class="card board1 fill4 switch-list-view" data-view="list">
                            <div class="card-body">
                                <div class="card_widget_header">
                                </div>
                                <div class="card_widget_img">
                                    <img src="~/lib/images/id-card (1).png" alt="card-img" />
                                </div>
                            </div>
                        </button>
                    </div>
                }
            </div>


            <div class="card mb-4 custom-card-width">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">People: @Model.Count()</h5>

                </div>
            </div>
            <!-- Hiển thị danh sách người dùng dưới dạng card -->
            <div class="card-list">
                @foreach (var user in Model)
                {
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">@user.FullName</h5>
                            <p class="card-text"><strong>Tên Đăng Nhập:</strong> @user.UserName</p>
                            <p class="card-text">
                                <strong>Vai Trò:</strong>
                                @foreach (var role in await UserManager.GetRolesAsync(user))
                                {
                                    <span class="badge badge-primary">@role</span>
                                }
                            </p>
                            <div class="action-buttons">
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="Owner" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                                <a class="btn btn-black" asp-area="Admin" asp-controller="Payroll" asp-action="Index" asp-route-id="@user.Id">contract</a>
                                <a class="btn btn-danger delete-link" data-id="@user.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- Kết thúc hiển thị danh sách người dùng dưới dạng card -->
            <div class="card">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Họ Tên</th>
                            <th>Tên Đăng Nhập</th>
                            <th>Vai Trò</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr class="category-row">
                                <td>@user.FullName</td>
                                <td>@user.UserName</td>
                                <td>
                                    @foreach (var role in await UserManager.GetRolesAsync(user))
                                    {
                                        <span class="badge badge-primary">@role</span>
                                    }
                                </td>
                                <td class="action-buttons">
                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Owner" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                                    <a class="btn btn-black" asp-area="Admin" asp-controller="Payroll" asp-action="Index" asp-route-id="@user.Id">contract</a>
                                    <a class="btn btn-danger delete-link" data-id="@user.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".delete-link").click(function () {
                if (confirm("Are you sure you want to delete this item?")) {
                    var id = $(this).data("id");
                    var row = $(this).closest("tr");
                    $.ajax({
                        type: "POST",
                        url: "/Owner/Delete",
                        data: { id: id },
                        success: function () {
                            row.remove();
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });

            $(".switch-list-view").click(function () {
                var view = $(this).data("view");
                if (view === "list") {
                    $(".card-list").show();
                    $(".table").hide();
                } else {
                    $(".card-list").hide();
                    $(".table").show();
                }
            });
        });
    </script>
</body>
</html>