﻿@model IEnumerable<DACSQLNS.Models.ApplicationUser>

<h2 class="text-center mb-4">Recycle Bin</h2>

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.FullName</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                           
                            <a href="#" class="btn btn-success restore-link" data-id="@user.Id">Restore</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container text-center">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".restore-link").click(function () {
                if (confirm("Are you sure you want to restore this item?")) {
                    var id = $(this).data("id");
                    var row = $(this).closest("tr");
                    $.ajax({
                        type: "POST",
                        url: "/Owner/Restore",
                        data: { id: id },
                        success: function () {
                            row.remove();
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
}