﻿@model DACSQLNS.Models.Contract

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-action="Add" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*     <div class="form-group">
                <label asp-for="UserId">User Name</label>
                <select asp-for="UserId" id="UserName" class="form-control" asp-items="@ViewBag.Users"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="UserId">User Name</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
            </div>

            <div class="form-group">
                <label asp-for="ContractStartDate" class="control-label"></label>
                <input asp-for="ContractStartDate" class="form-control" />
                <span asp-validation-for="ContractStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractEndDate" class="control-label"></label>
                <input asp-for="ContractEndDate" class="form-control" />
                <span asp-validation-for="ContractEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractSalary" class="control-label"></label>
                <input asp-for="ContractSalary" class="form-control" />
                <span asp-validation-for="ContractSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benefits" class="control-label"></label>
                <input asp-for="Benefits" class="form-control" />
                <span asp-validation-for="Benefits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Terms" class="control-label"></label>
                <input asp-for="Terms" class="form-control" />
                <span asp-validation-for="Terms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input asp-for="BasicSalary" class="form-control" />
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
