﻿@model DACSQLNS.Models.Contract

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractStartDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEndDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractSalary)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Benefits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Benefits)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terms)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
