﻿@model DACSQLNS.Models.Contract

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="UserId" class="control-label"></label>
        <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ContractStartDate" class="control-label"></label>
        <input asp-for="ContractStartDate" class="form-control" />
        <span asp-validation-for="ContractStartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContractEndDate" class="control-label"></label>
        <input asp-for="ContractEndDate" class="form-control" />
        <span asp-validation-for="ContractEndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContractSalary" class="control-label"></label>
        <input asp-for="ContractSalary" class="form-control" />
        <span asp-validation-for="ContractSalary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Benefits" class="control-label"></label>
        <input asp-for="Benefits" class="form-control" />
        <span asp-validation-for="Benefits" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Terms" class="control-label"></label>
        <input asp-for="Terms" class="form-control" />
        <span asp-validation-for="Terms" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BasicSalary" class="control-label"></label>
        <input asp-for="BasicSalary" class="form-control" />
        <span asp-validation-for="BasicSalary" class="text-danger"></span>
    </div>
    <!-- Thêm các trường khác của Contract -->

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
