﻿@model IEnumerable<DACSQLNS.Models.Contract>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Index</h1>
        <p>
            <a asp-action="Add" class="btn btn-primary">Create New</a>
        </p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ContractStartDate)</th>
                    <th>@Html.DisplayNameFor(model => model.ContractEndDate)</th>
                    <th>@Html.DisplayNameFor(model => model.ContractSalary)</th>
                    <th>@Html.DisplayNameFor(model => model.Benefits)</th>
                    <th>@Html.DisplayNameFor(model => model.Terms)</th>
                    <th>@Html.DisplayNameFor(model => model.BasicSalary)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ContractStartDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ContractEndDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ContractSalary)</td>
                        <td>@Html.DisplayFor(modelItem => item.Benefits)</td>
                        <td>@Html.DisplayFor(modelItem => item.Terms)</td>
                        <td>@Html.DisplayFor(modelItem => item.BasicSalary)</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
